@media screen and (min-width: 768px) {
  .results .square .inner-square img {
    width: auto;
  }

  section h1 {
    font-size: 30px !important;
  }

  .button-get, .work-with-us form .submit-btn {
    width: 40% !important;
  }

  .get-clients h1 {
    font-size: 36px !important;
  }

  .how-we-work::after {
    content: "";
    display: table;
    clear: both;
  }
  .how-we-work .items-work {
    width: 50%;
    float: left;
  }

  .results::after {
    content: "";
    display: table;
    clear: both;
  }
  .results .square {
    float: left;
    width: 49%;
    margin-left: 5px;
  }

  header .main-info .logo, footer .main-info .logo {
    width: auto;
  }
  header .main-info .phone, footer .main-info .phone {
    display: block;
  }

  .feedback::after, .get-clients::after {
    content: "";
    display: table;
    clear: both;
  }
  .feedback .comment, .get-clients .comment {
    width: 31%;
    float: left;
    margin-right: 9px;
    margin-left: 8px;
  }

  footer .rznak::after {
    content: "";
    display: table;
    clear: both;
  }
  footer .logo {
    display: block !important;
    float: left;
  }
  footer .copyright {
    text-align: right !important;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  section h1 {
    font-size: 48px !important;
  }

  .feedback h1, .get-clients h1 {
    margin: 43px 0;
  }
  .feedback .comment-caption, .get-clients .comment-caption {
    margin-top: 20px;
  }
  .feedback .comment-caption img, .get-clients .comment-caption img {
    width: auto !important;
    margin: 0 !important;
    float: left;
  }
  .feedback .comment-caption .desc, .get-clients .comment-caption .desc {
    padding-top: 20px;
    line-height: 1;
  }
  .feedback .comment-caption .desc .name, .get-clients .comment-caption .desc .name {
    font-size: 18px !important;
    margin-bottom: 7px;
  }

  .get-clients {
    min-height: 590px;
    height: 100%;
  }
  .get-clients h1 {
    font-size: 70px !important;
    width: 65%;
    line-height: 1.1;
    text-align: left;
    padding-top: 85px !important;
    margin-bottom: 0;
  }
  .get-clients .red-line {
    padding: 6px 0;
    width: 16%;
    margin: 12px 0;
  }
  .get-clients ul {
    margin-top: 30px;
  }
  .get-clients ul li {
    font-size: 22px !important;
  }
  .get-clients .button-get, .get-clients .work-with-us form .submit-btn, .work-with-us form .get-clients .submit-btn {
    margin: 63px auto 13px;
    width: 20% !important;
    position: relative;
    z-index: 10;
  }

  .how-we-work {
    min-height: 785px;
    height: 100%;
  }
  .how-we-work h1 {
    padding: 43px 0;
  }
  .how-we-work .items-work {
    width: 100%;
    margin-bottom: 90px !important;
  }
  .how-we-work .items-work .figure {
    width: auto !important;
    float: left;
    padding-right: 35px !important;
  }
  .how-we-work .items-work .figure img {
    height: 70px;
    width: 75px;
  }
  .how-we-work .items-work .figcaption {
    line-height: 1;
    text-align: left !important;
  }
  .how-we-work .items-work .figcaption .caption-heading {
    font-family: "RobotoBold",sans-serif;
    font-size: 30px !important;
  }
  .how-we-work .items-work .figcaption .caption-text {
    font-size: 24px !important;
  }

  .results h1 {
    padding: 43px 0;
  }
  .results .square {
    width: 41%;
    margin: 40px;
    height: 505px;
    padding: 20px !important;
  }
  .results .square .inner-square {
    padding: 30px 40px 10px !important;
  }
  .results .square .inner-square .heading {
    font-size: 30px !important;
  }
  .results .robots {
    margin-bottom: 80px;
  }
  .results .multiply-ef .m-title {
    font-size: 24px !important;
  }
  .results .multiply-ef .m-eff {
    font-size: 60px !important;
  }

  .laptop {
    position: absolute;
    top: 70px;
    right: -218px;
    z-index: 0;
    display: block !important;
  }

  .collapse-btn {
    display: none;
  }

  .main-nav {
    padding: 0 !important;
    display: block !important;
    margin-left: auto;
  }
  .main-nav::after {
    content: '';
    display: table;
    clear: both;
  }
  .main-nav ul {
    float: right;
  }
  .main-nav ul::after {
    content: '';
    display: table;
    clear: both;
  }
  .main-nav ul li {
    float: left;
    margin-right: 15px;
  }
  .main-nav ul li:last-child {
    margin-right: 0;
  }

  .command-work {
    font-family: "RobotoRegular",sans-serif;
  }
  .command-work h1 {
    margin: 43px 0;
  }
  .command-work .par-group {
    margin-top: 60px;
  }
  .command-work p {
    font-size: 16px !important;
    color: #565656;
  }
  .command-work .descript-sqr {
    display: inline-block;
    width: 21% !important;
    margin: 0 -5px !important;
    vertical-align: middle;
  }
  .command-work .hor-line {
    width: 5% !important;
    display: inline-block;
    height: 2px !important;
  }

  .work-with-us h1 {
    margin: 43px 0;
  }
  .work-with-us p {
    font-size: 16px !important;
    font-family: "RobotoRegular",sans-serif;
    text-align: center !important;
    font-weight: bold;
    margin-bottom: 30px !important;
  }
  .work-with-us form input, .work-with-us form button {
    display: inline-block !important;
    width: 33% !important;
  }
  .work-with-us form .more {
    display: block !important;
    transition: .2s ease-in-out;
  }
  .work-with-us form .more:hover {
    background: #000;
    color: #fff;
    transition: 0.2s ease-in-out;
  }
  .work-with-us form .form-post {
    font-size: 15px;
    font-family: "RobotoLight",sans-serif;
    margin-top: 5px;
    display: block !important;
  }
  .work-with-us form input {
    padding: 7px 20px 11px !important;
    margin-right: 12px;
  }
  .work-with-us form input[placeholder] {
    font-size: 22px;
    font-family: "pfdintextpro-light";
    font-weight: bold;
  }
  .work-with-us form .submit-btn {
    padding: 14px 0 !important;
    width: 33% !important;
  }

  footer {
    padding: 35px 15px !important;
  }
  footer .widgets {
    float: right;
    width: 45%;
  }
  footer .widgets .blog {
    padding-top: 3px;
    margin-left: 30px;
    float: left;
  }
  footer .widgets .social .bold-int {
    display: block !important;
    font-weight: bold;
    padding-top: 3px;
    font-size: 14px;
  }
  footer .widgets .social .bold-int a {
    padding-left: 15px;
    color: #4390ee;
    font-weight: normal;
  }
  footer .widgets i {
    display: none;
  }
  footer .rznak {
    float: left !important;
    width: 55%;
  }
  footer .rznak::after {
    content: "";
    display: table;
    clear: both;
  }
  footer .rznak .logo {
    margin-right: 50px;
  }
  footer .rznak .copyright {
    margin-top: 0;
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  .main-info {
    float: left;
  }
  .main-info .phone {
    float: left !important;
    padding-left: 50px;
    margin-top: 18px !important;
  }

  .main-nav ul li a {
    text-transform: uppercase;
    padding-top: 22px !important;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  .results .square .inner-square img {
    width: auto !important;
  }

  .feedback .comment .comment-caption img, .get-clients .comment .comment-caption img {
    width: auto !important;
  }
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "RobotoCondensedRegular"; */
@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "pfdintextpro-light"; */
@font-face {
  font-family: "pfdintextpro-light";
  src: url("../fonts/PFDinTextCondPro-Light.woff") format("woff"), url("../fonts/pfdintextpro-light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "pfdintextpro-light"; */
@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.woff") format("woff"), url("../fonts/calibri.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

footer, header, footer, section {
  padding: 15px;
  overflow: hidden;
  position: relative;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

section h1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "RobotoMedium",sans-serif;
  text-align: center;
  color: #2c2c2c;
}

header, footer {
  background-color: #000;
  color: #fff;
}

.collapse-btn {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  outline: medium none;
  width: 100%;
  margin: 10px 0 0;
  padding: 10px 0;
  background-color: #e32b49;
  font-size: 16px;
}
.collapse-btn::after {
  content: "";
  display: table;
  clear: both;
}
.collapse-btn i {
  float: left;
  margin-left: 5px;
}

.main-info::after {
  content: '';
  display: table;
  clear: both;
}
.main-info .logo {
  float: left;
  padding: 15px 0;
  text-align: center;
  display: block;
  width: 100%;
}
.main-info .phone {
  display: none;
  float: right;
  margin-top: 20px;
}
.main-info .phone i {
  font-size: 24px;
  margin-right: 15px;
  vertical-align: middle;
}
.main-info .phone a {
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-family: "RobotoMedium",sans-serif;
}

.main-nav {
  background-color: #000;
  display: none;
  padding: 15px 0;
}
.main-nav ul {
  margin: 0;
  padding: 0;
}
.main-nav ul li {
  list-style: none;
}
.main-nav ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  font-family: "RobotoBold",sans-serif;
  transition: opacity 0.2s ease-out;
  opacity: 1;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid red;
  color: #ff6666;
  opacity: 0.8;
  transition: opacity 0.2s ease-out;
}

/*section "GET CLIENTS"*/
.get-clients h1 {
  font-family: "RobotoCondensedBold",sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 20px;
}
.get-clients ul {
  margin-left: 15px;
}
.get-clients ul li {
  font-family: 'RobotoLight',sans-serif;
  font-size: 15px;
  margin-bottom: 7px;
}

.laptop {
  display: none;
}

.red-line {
  background-color: #e32b49;
  padding: 2px 0;
  width: 35%;
  margin: 10px 0;
}

.button-get, .work-with-us form .submit-btn {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  outline: medium none;
  width: 100%;
  display: block;
  margin: 10px auto 5px;
  background-color: #e32b49;
  padding: 10px 0;
  font-family: "RobotoRegular",sans-serif;
  font-size: 15px;
  font-weight: bold;
  transition: .25s ease-in-out;
}
.button-get:hover, .work-with-us form .submit-btn:hover {
  background: #fff;
  transition: .25s ease-in-out;
  color: #e32b49;
  -webkit-box-shadow: inset 3px 3px 0px 0px #e32b49, inset -3px -3px 0px 0px #e32b49;
  -moz-box-shadow: inset 3px 3px 0px 0px #e32b49, inset -3px -3px 0px 0px #e32b49;
  box-shadow: inset 3px 3px 0px 0px #e32b49, inset -3px -3px 0px 0px #e32b49;
}

.notification {
  color: #4e4e4d;
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 14px;
  text-align: center;
  display: inherit;
}

/*section HOW WE WORK*/
.how-we-work {
  background: url(../img/sky-bg.png) no-repeat;
  background-size: cover;
}
.how-we-work .items-work {
  margin-bottom: 15px;
}
.how-we-work .items-work .figure {
  padding-right: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.how-we-work .items-work .figcaption {
  text-align: center;
}
.how-we-work .items-work .figcaption .caption-heading {
  display: block;
  font-size: 16px;
  font-family: "RobotoBold",sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
}
.how-we-work .items-work .figcaption .caption-text {
  font-family: "RobotoLight",sans-serif;
  font-size: 14px;
}
.how-we-work img {
  width: 50px;
  height: 50px;
}

/*section RESULTS*/
.results {
  text-align: center;
  background: #ececec;
}
.results .popup-wrapper {
  display: none;
  font-family: "Open Sans",sans-serif;
  width: 100%;
  position: absolute;
  min-height: 590px;
  overflow-y: scroll;
  height: 100%;
  top: 330px;
  left: 0;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.2);
}
.results .popup-wrapper .quit {
  position: absolute;
  right: 25px;
  cursor: pointer;
  top: 25px;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}
.results .popup-wrapper .quit:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}
.results .popup-wrapper h1 {
  padding: 0;
  margin: 0;
  font-family: "RobotoCondensedBold",sans-serif;
  text-transform: uppercase;
  font-size: 38px !important;
}
.results .popup-wrapper h2 {
  font-size: 22px;
}
.results .popup-wrapper .inner-popup {
  text-align: center;
}
.results .popup-wrapper .inner-popup .target {
  padding: 60px 255px;
  background-color: #f5f5f5;
}
.results .popup-wrapper .inner-popup .realize {
  background-color: #fff;
  padding: 60px 160px;
}
.results .popup-wrapper .inner-popup .realize .realize-head {
  font-size: 32px;
  font-family: "RobotoRegular",sans-serif;
}
.results .popup-wrapper .inner-popup .red-line {
  margin: 45px auto 35px;
  width: 75px;
}
.results .popup-wrapper .inner-popup h4 {
  font-size: 18px;
}
.results .popup-wrapper .inner-popup p {
  font-size: 18px;
  line-height: 1.6;
}
.results .square {
  cursor: pointer;
  background: #fff;
  padding: 5px;
  margin-bottom: 20px;
  transition: 0.2s ease-in;
}
.results .square .inner-square {
  border: 5px solid #d6d6d6;
  padding: 10px;
  transition: 0.2s ease-in;
  background: #fff;
}
.results .square .inner-square img {
  width: 80%;
  margin-bottom: 10px;
}
.results .square .inner-square .case {
  font-weight: bold;
  font-family: "Open Sans",sans-serif;
  color: #abacac;
  font-size: 12px;
}
.results .square .inner-square .heading {
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Open Sans",sans-serif;
  font-weight: bold;
  color: #4c4c4c;
  padding-bottom: 12px;
}
.results .square .inner-square .s-caption {
  color: #8a8b8b;
  font-size: 16px;
  font-family: "Open Sans Regular",sans-serif;
  margin-bottom: 20px;
  line-height: 1.6;
}
.results .square .inner-square .post .m-eff {
  font-size: 18px;
}
.results .square:hover {
  background-color: #e0e0e0;
  transition: 0.2s ease-in;
}
.results .square:hover .inner-square {
  border-color: #dc3872;
  transition: 0.2s ease-in;
}

.multiply-ef {
  font-family: "Open Sans",sans-serif;
  color: #8b8b8b;
  margin-bottom: 15px;
}
.multiply-ef .m-title,
.multiply-ef .m-eff {
  display: block;
}
.multiply-ef .m-title {
  font-size: 18px;
}

.m-eff {
  font-size: 36px;
  font-weight: bold;
  color: #4a9de5;
  font-family: "Open Sans",sans-serif;
}

.rose {
  color: #dc3872;
}

/*section WHO-WITH-Us*/
.who-with-us {
  background: #fff;
}
.who-with-us .partners {
  border: 4px solid #f5f5f5;
}
.who-with-us .partners .partner {
  cursor: pointer;
  width: 50%;
  margin: 20px auto;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}
.who-with-us .partners .partner:hover {
  transition: opacity 0.2s ease-out;
  opacity: 0.6;
}

/*section FEEDBACK*/
.feedback, .get-clients {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
}
.feedback .comment, .get-clients .comment {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 7px solid #dc3872;
}
.feedback .comment .com-text, .get-clients .comment .com-text {
  font-family: "RobotoRegular",sans-serif;
  font-size: 16px;
  text-align: justify;
}
.feedback .comment .com-text::after, .get-clients .comment .com-text::after {
  content: "";
  display: table;
  clear: both;
}
.feedback .comment .comment-caption::after, .get-clients .comment .comment-caption::after {
  content: "";
  display: table;
  clear: both;
}
.feedback .comment .comment-caption img, .get-clients .comment .comment-caption img {
  display: block;
  margin: 20px auto;
  width: 50%;
}
.feedback .comment .comment-caption .desc::after, .get-clients .comment .comment-caption .desc::after {
  content: "";
  display: table;
  clear: both;
}
.feedback .comment .comment-caption .desc span, .get-clients .comment .comment-caption .desc span {
  display: block;
  text-align: center;
}
.feedback .comment .comment-caption .desc .name, .get-clients .comment .comment-caption .desc .name {
  font-family: "RobotoBold",sans-serif;
  font-size: 21px;
}
.feedback .comment .comment-caption .desc .director, .get-clients .comment .comment-caption .desc .director {
  font-family: "RobotoItalic",sans-serif;
  color: #999;
  font-style: italic;
}

/*section command-work*/
.command-work .hor-line {
  height: 50px;
  background: #000;
  width: 2px;
  margin: 0 auto;
}
.command-work p {
  text-align: center;
  line-height: 1.6;
  font-size: 15px;
  margin: 10px 0;
}
.command-work .descript-sqr {
  width: 80%;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
}
.command-work .descript-sqr .numb-sqr {
  font-family: "RobotoBold",sans-serif;
  font-weight: bold;
  border: 2px solid black;
  padding: 3px 0;
  width: 20%;
  text-align: center;
  position: absolute;
  top: -15px;
  left: 40%;
  background: #fff;
  font-size: 18px;
  color: #e32b49;
}
.command-work .descript-sqr .main-txt {
  padding: 35px;
  text-align: center;
}

/*section WORK-WITH-US*/
.work-with-us {
  background: #f1f1f1;
}
.work-with-us p {
  text-align: justify;
  margin-bottom: 20px;
  font-family: "RobotoRegular",sans-serif;
  font-size: 12px;
  color: #636363;
}
.work-with-us form {
  width: 80%;
  margin: 0 auto;
}
.work-with-us form .form-post {
  display: none;
}
.work-with-us form input {
  width: 100%;
  margin: 0 auto 7px;
  display: block;
  border: 2px solid #636363;
  color: #636363;
  padding: 7px 20px;
}
.work-with-us form .more {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  outline: medium none;
  width: 240px !important;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 50px auto 30px;
  color: #464646;
  background: #fff;
  font-family: 'RobotoLight',sans-serif;
  font-size: 15px;
  display: none;
}

/*Footer*/
footer {
  font-family: "pfdintextpro-light",sans-serif;
}
footer::after {
  content: "";
  display: table;
  clear: both;
}
footer .logo {
  display: none;
}
footer .blog {
  float: left;
}
footer .blog a {
  margin-right: 10px;
  color: #afabac;
  font-size: 16px;
}
footer .blog a:hover {
  color: #fff;
}
footer .social {
  text-align: right;
}
footer .social .bold-int {
  display: none;
}
footer .social i {
  color: #fff;
  margin-right: 5px;
  font-size: 20px;
  opacity: 1;
  transition: all 0.25s ease-in-out;
}
footer .social i:hover {
  color: #4390ee;
  opacity: 0.6;
  transition: all 0.25s ease-in-out;
}
footer .copyright {
  font-size: 15px;
  display: block;
  margin-top: 10px;
  color: #afabac;
  text-align: center;
  font-weight: 600;
}
