$tablet: 768px;
$laptop: 1024px;

@media screen and (min-width: $tablet){
	.results .square .inner-square img{
		width: auto;
	}
	section h1{
		font-size: 30px !important;
	}
	.button-get{
		width: 40% !important;
	}
	.get-clients{
		h1{
			font-size: 36px !important
		}
	}
	.how-we-work{
		&::after{
			content: "";
			display: table;
			clear:both;
		}
		.items-work{
			width: 50%;
			float:left;
		}	
	}
	//How we work

	.results{
		&::after{
			content:"";
			display: table;
			clear: both;
		}
		.square{
			float:left;
			width: 49%;
			margin-left: 5px;
		}
	}
	//results
	header .main-info{
		.logo{
			width: auto;
		}
		.phone{
			display: block;
		}
	}

	.feedback{
		&::after{
			content:"";
			display: table;
			clear:both;
		}
		.comment{
			width: 31%;
			float:left;
			margin-right: 9px;
			margin-left: 8px;
		}	
	}

	footer{
		.rznak::after{
			content: "";
			display: table;
			clear: both;
		}
		.logo{
			display: block !important;
			float: left;
		}
		.copyright{
			text-align: right !important;
			padding-top: 5px;
		}
	}

}



@media screen and (min-width:$laptop){
	.container{
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	section h1{
		font-size: 48px !important;
	}

	.feedback{
		h1{
			margin: 43px 0;
		}
		.comment-caption{
			margin-top:20px;
			img{
				width: auto !important;
				margin: 0 !important;
				float:left;
			}
			.desc{
				padding-top: 20px;
				line-height: 1;
				.name{
					font-size: 18px !important;
					margin-bottom: 7px;
				}
			}
		}
	}

	.get-clients
	{
		min-height:590px;
		height: 100%;
		h1{
			font-size: 70px !important;
			width: 65%;
			line-height: 1.1;
			text-align: left;
			padding-top: 85px !important;
			margin-bottom: 0;
		}
		.red-line{
			padding: 6px 0;
			width: 16%;
			margin: 12px 0;
		}
		ul{
			margin-top: 30px;
			li{
				font-size:22px !important;
			}
		}
		.button-get{
			margin: 63px auto 13px;
			width: 20% !important;
			position: relative;
			z-index: 10;
		}
	} 

	.how-we-work{
		min-height:785px;
		height: 100%;
		h1{
			padding: 43px 0;
		}
		.items-work{
			width:100%;
			margin-bottom: 90px !important;
			.figure{
				width:auto !important;
				float:left;
				padding-right: 35px !important;
				img{
					height: 70px;
					width:75px;
				}
			}
			.figcaption{
				line-height: 1;
				text-align: left !important;
				.caption-heading{
					font-family: "RobotoBold",sans-serif;
					font-size: 30px !important;
				} 
				.caption-text{
					font-size:24px !important
				}
			}
		}
	}

	.results{
		h1{
			padding: 43px 0
		}
		.square{
			width: 41%;
			margin: 40px;
			height: 505px;
			padding:20px !important;
			.inner-square{
				padding:30px 40px 10px !important;
				.heading{
					font-size: 30px !important;
				}
			}
		}
		.robots{
			margin-bottom: 80px;
		}
		.multiply-ef{
			.m-title{
				font-size: 24px !important;
			}
			.m-eff{
				font-size: 60px !important;
			}
		}
	}

	.laptop{
		position: absolute;
		top: 70px;
		right: -218px;
		z-index: 0;
		display: block !important;
	}
	.collapse-btn{
		display: none;
	}
	.main-nav{
		&::after{
			content: '';
			display: table;
			clear: both;
		}
		padding:0 !important;
		display: block !important;
		margin-left: auto;
		ul{
			&::after{
				content: '';
				display: table;
				clear: both;
			}
			float: right;
			li{
				float: left;
				margin-right: 15px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}

	.command-work{
		font-family: "RobotoRegular",sans-serif;
		h1{
			margin: 43px 0;
		}
		.par-group{
			margin-top: 60px;
		}
		p{
			font-size: 16px !important;
			color:#565656;
		}
		.descript-sqr{
			display: inline-block;
			width: 21% !important;
			margin:0 -5px !important;
			vertical-align: middle;
		}
		.hor-line{
			width: 5% !important;
			display: inline-block;
			height: 2px !important;
		}
	}

	.work-with-us{
		h1{
			margin: 43px 0;
		}
		p{
			font-size: 16px !important;
			font-family: "RobotoRegular",sans-serif;
			text-align: center !important;
			font-weight: bold;
			margin-bottom: 30px !important;
		}
		form{
			input,button{
				display: inline-block !important;
				width: 33% !important;
			}
			.more{
				display: block !important;
				transition: .2s ease-in-out;
				&:hover{
					background: #000;
					color:#fff;
					transition: .2s ease-in-out
				}
			}
			.form-post{
				font-size: 15px;
				font-family: "RobotoLight",sans-serif;
				margin-top: 5px;
				display: block !important;
			}
			input{
				padding: 7px 20px 11px !important;
				margin-right: 12px;
				&[placeholder]{
					font-size: 22px;
					font-family: "pfdintextpro-light";   
					font-weight: bold;
				}
			}
			.submit-btn{
				padding:14px 0 !important;
				width: 33% !important;
			}
		}
	}


//Footer
footer{
	padding: 35px 15px !important;
	.widgets{
		float: right;
		width: 45%;
		.blog{
			padding-top: 3px;
			margin-left: 30px;
			float: left;
		}
		.social{
			.bold-int{
				display: block !important;
				font-weight: bold;
				padding-top: 3px;
				font-size: 14px;
				a{
					padding-left: 15px;
					color: #4390ee;
					font-weight: normal;
				}
			}
		}
		i{
			display: none;
		}
	}

	.rznak{
		&::after{
			content:"";
			display: table;
			clear: both;
		}
		float: left !important;
		width: 55%;
		.logo{
			margin-right: 50px;
		}
		.copyright{
			margin-top: 0;
			float: left;
		}
	}
}
}

@media screen and (min-width: 1200px){
	.main-info
	{
		float:left;
		.phone{
			float:left !important;
			padding-left:50px;
			margin-top: 18px !important;
		}	
	}
	.main-nav ul li a{
		text-transform: uppercase;
		padding-top: 22px !important;
	} 
}



@media (min-width:450px) and (max-width:767px){
	.results .square .inner-square img{
		width: auto !important
	}

	.feedback .comment .comment-caption img{
		width: auto !important;
	}
}
